.container {
  margin: 0 auto;
  max-width: 75%;
  text-align: center;

  font-family: "Lilita One";
  font-size: 1.5em;
}

a {
  color: #777;
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  color: #892276;
}

.twitter-tweet {
  margin: auto !important;
}